<div>
  <h2>Announcements</h2>
  <br /><br />
  <!-- *ngIf="currentUser" -->
  <button *ngIf="currentUser" class="btn btn-primary btn-announce" (click)="onMakeAnnouncement()" style="float: right;">New</button>

</div>
<div>
  <mat-card *ngFor="let announcement of announcements" style="text-align: justify;">
    <span class="span-title">{{announcement.subject}}</span>
    <span class="span-date">{{announcement.date | date:'short'}}</span>
    <span><hr/></span>
    <p>{{announcement.message}}</p>
  </mat-card>
</div>