<mat-card>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <!-- <md-card-header>
            <md-card-avatar>
              <img src="assets/images/Webp.net-resizeimage (2).png" class="md-user-avatar" />
            </md-card-avatar>
          </md-card-header> -->
          <strong>Pastor Akin Adeniyi</strong>
        </mat-panel-title>
        <mat-panel-description>
          Regional Overseer
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <mat-card>
          <md-card-header>
            <!--Avatar-->
            <md-card-avatar>
              <img src="assets/images/01_p_akin.png" class="md-user-avatar" />
            </md-card-avatar>
            <!--Header text-->
            <!-- <md-card-header-text>
              <span class="md-title">Lorem</span>
              <span class="md-subhead">Ipsum</span>
            </md-card-header-text> -->
          </md-card-header>
          <p>Dr. Akin Johnson Adeniyi (Ed.D.) oversees Deeper Life Bible Churches in USA Central Region 2 including
            Minnesota, Iowa, Wisconsin and Michigan. He is based at the Regional Headquarters church in St Paul MN. </p>

          <p>Before assuming this responsibility, he was a Senior Analyst at US Bank. Early in his professional career,
            he worked in many Nigerian news organizations including Newsline Newspapers-Niger State, ThisWeek Magazine,
            African Guardian, and Daily Times/TimesWeek among others. He is a trained Software Quality Assurance
            Specialist, an International Leadership, Educational Leadership and Leadership Development Scholar. </p>

          <p>He studied Software Engineering and also holds a Doctor of Education (Ed.D.) focused on International
            Leadership from University of St. Thomas. </p>

          <p>His favorite quotes include:
            “Christ in you, the hope of glory” - Colossians 1:27b
            “We learn from history that we do not learn from history.” - Georg W. F. Hegel
            “We know that all things work for good for those who love the Lord” - Romans 8:28 </p>

        </mat-card>
      </div>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor Raheem Oni</strong>
        </mat-panel-title>
        <mat-panel-description>
          Regional Overseer
        </mat-panel-description>
      </mat-expansion-panel-header>
      <md-card-header>
        <!--Avatar-->
        <md-card-avatar>
          <img src="assets/images/02_p_raheem.png" class="md-user-avatar" />
        </md-card-avatar>
      </md-card-header>
      <p>Pastor Akanni Raheem Oni is the Senior Pastor of the Deeper Life Bible Church in Irvington, New Jersey. He also
        serves as a Regional Overseer over New Jersey, Alaska and Hawaii. </p>

      <p>Pastor Oni exudes a sincere love for Christ and takes a militant stance in the army of God against sin, satan
        and the kingdom of darkness. His primary focus and pursuit is the expansion of the Kingdom of God and building
        Kingdom citizens who are clothed in righteousness. To this end, Pastor Oni spearheads the national prayer
        initiative in the United States. </p>

      <p>As a man of prayer, God has used him to usher in deliverance and breakthrough in the lives of numerous people
        within the body of Christ. </p>

      <p>Pastor Oni is married to his lovely wife, Sister Mercy and they are blessed with a beautiful daughter and many
        spiritual children all over the world. One of his favorite quotes is, “We say thank You Jesus. We don’t thank
        man.” </p>

    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor Thompson Aderemi</strong>
        </mat-panel-title>
        <mat-panel-description>
          Regional Overseer
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <md-card-header> -->
        <!--Avatar-->
        <!-- <md-card-avatar> -->
          <div style="text-align:center">
            <img  src="assets/images/03_p_thompson.png" class="md-user-avatar" />
          </div>
          
        <!-- </md-card-avatar> -->
      <!-- </md-card-header> -->
      <p>When the cry of sinful men and the tears of broken women reach the ears of the Almighty God, a stirring occurs,
        a calling ensues, and a commissioning breaks forth. The Savior’s voice rings clear: “I have seen the affliction
        of my people and heard their cry. Now therefore arise…and tell Pharaoh to let my people go”. </p>

      <p>Such commissioning resonated within Pastor Thompson Aderemi when he met the Savior in 1970 at 17. The joy of
        salvation, the knowledge of lost souls’ impending fate and his commitment to promptly obey the Holy Spirit led
        Pastor Thompson to his current place of immense influence. Upon conversion, Pastor Thompson began extensive work
        with Scripture Union, Evangelical Churches of West Africa (ECWA), Sudan Interior Missions and the then Deeper
        Life Bible Study located in Jos (the birthing place of DLBC in Northern Nigeria) before relocating to the United
        States and embarking upon the life-long mission of church planting, soul shepherding and leadership development.
      </p>

      <p>Since 1985, Pastor Thompson, his beautiful wife, Selinah, and their children have continued trailblazing
        throughout the United States from the very first Deeper Life Bible Church in Montgomery, Alabama, to one of the
        Holy Spirit’s most recent endeavors in Reno, Nevada. </p>
      <p>Currently, Pastor Thompson serves as the Regional Overseer over the Southwest and Great Plains Regions (Texas,
        Arizona, Nevada, Oklahoma, New Mexico, North Dakota, South Dakota, Nebraska, Montana, and Kansas) ceaselessly
        pouring his life into the lives of others. </p>

      <p>Truly, “The world has yet to see what God will do with a man who is fully and wholly consecrated to the Holy
        Spirit” – Henry Varley</p>

    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor David Malaka</strong>
        </mat-panel-title>
        <mat-panel-description>
          Regional Overseer
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Brief Description about Pastor David Malaka</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor David Malaka</strong>
        </mat-panel-title>
        <mat-panel-description>
          Regional Overseer
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Brief Description about Pastor David Malaka</p>
    </mat-expansion-panel>



    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor David Malaka</strong>
        </mat-panel-title>
        <mat-panel-description>
          Regional Overseer
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Brief Description about Pastor David Malaka</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor David Malaka</strong>
        </mat-panel-title>
        <mat-panel-description>
          Regional Overseer
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Brief Description about Pastor David Malaka</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor David Malaka</strong>
        </mat-panel-title>
        <mat-panel-description>
          Regional Overseer
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Brief Description about Pastor David Malaka</p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>