<mat-card>
  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor Akin Adeniyi</strong>&nbsp;&nbsp; (Regional Overseer)
        </mat-panel-title>
        <mat-panel-description>
          <!-- Regional Overseer -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/01_p_akin.png" class="md-user-avatar" />
      </div>
      <p>Dr. Akin Johnson Adeniyi (Ed.D.) oversees Deeper Life Bible Churches in USA Central Region 2 including
        Minnesota, Iowa, Wisconsin and Michigan. He is based at the Regional Headquarters church in St Paul MN. </p>

      <p>Before assuming this responsibility, he was a Senior Analyst at US Bank. Early in his professional career,
        he worked in many Nigerian news organizations including Newsline Newspapers-Niger State, ThisWeek Magazine,
        African Guardian, and Daily Times/TimesWeek among others. He is a trained Software Quality Assurance
        Specialist, an International Leadership, Educational Leadership and Leadership Development Scholar. </p>

      <p>He studied Software Engineering and also holds a Doctor of Education (Ed.D.) focused on International
        Leadership from University of St. Thomas. </p>

      <p>His favorite quotes include:
        “Christ in you, the hope of glory” - Colossians 1:27b
        “We learn from history that we do not learn from history.” - Georg W. F. Hegel
        “We know that all things work for good for those who love the Lord” - Romans 8:28 </p>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor Raheem Oni </strong>&nbsp;&nbsp;(Regional Overseer)
        </mat-panel-title>
        <mat-panel-description>
          <!-- Regional Overseer -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/02_p_raheem.png" class="md-user-avatar" />
      </div>
      <p>Pastor Akanni Raheem Oni is the Senior Pastor of the Deeper Life Bible Church in Irvington, New Jersey. He also
        serves as a Regional Overseer over New Jersey, Alaska and Hawaii. </p>

      <p>Pastor Oni exudes a sincere love for Christ and takes a militant stance in the army of God against sin, satan
        and the kingdom of darkness. His primary focus and pursuit is the expansion of the Kingdom of God and building
        Kingdom citizens who are clothed in righteousness. To this end, Pastor Oni spearheads the national prayer
        initiative in the United States. </p>

      <p>As a man of prayer, God has used him to usher in deliverance and breakthrough in the lives of numerous people
        within the body of Christ. </p>

      <p>Pastor Oni is married to his lovely wife, Sister Mercy and they are blessed with a beautiful daughter and many
        spiritual children all over the world. One of his favorite quotes is, “We say thank You Jesus. We don’t thank
        man.” </p>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor Thompson Aderemi </strong>&nbsp;&nbsp;(Regional Overseer)
        </mat-panel-title>
        <mat-panel-description>
          <!-- Regional Overseer -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <md-card-header> -->
      <!--Avatar-->
      <!-- <md-card-avatar> -->
      <div style="text-align:center">
        <img src="assets/images/03_p_thompson.png" class="md-user-avatar" />
      </div>

      <!-- </md-card-avatar> -->
      <!-- </md-card-header> -->
      <p>When the cry of sinful men and the tears of broken women reach the ears of the Almighty God, a stirring occurs,
        a calling ensues, and a commissioning breaks forth. The Savior’s voice rings clear: “I have seen the affliction
        of my people and heard their cry. Now therefore arise…and tell Pharaoh to let my people go”. </p>

      <p>Such commissioning resonated within Pastor Thompson Aderemi when he met the Savior in 1970 at 17. The joy of
        salvation, the knowledge of lost souls’ impending fate and his commitment to promptly obey the Holy Spirit led
        Pastor Thompson to his current place of immense influence. Upon conversion, Pastor Thompson began extensive work
        with Scripture Union, Evangelical Churches of West Africa (ECWA), Sudan Interior Missions and the then Deeper
        Life Bible Study located in Jos (the birthing place of DLBC in Northern Nigeria) before relocating to the United
        States and embarking upon the life-long mission of church planting, soul shepherding and leadership development.
      </p>

      <p>Since 1985, Pastor Thompson, his beautiful wife, Selinah, and their children have continued trailblazing
        throughout the United States from the very first Deeper Life Bible Church in Montgomery, Alabama, to one of the
        Holy Spirit’s most recent endeavors in Reno, Nevada. </p>
      <p>Currently, Pastor Thompson serves as the Regional Overseer over the Southwest and Great Plains Regions (Texas,
        Arizona, Nevada, Oklahoma, New Mexico, North Dakota, South Dakota, Nebraska, Montana, and Kansas) ceaselessly
        pouring his life into the lives of others. </p>

      <p>Truly, “The world has yet to see what God will do with a man who is fully and wholly consecrated to the Holy
        Spirit” – Henry Varley</p>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor Ike Okafo</strong>&nbsp;&nbsp; (Regional Overseer)
        </mat-panel-title>
        <mat-panel-description>
          <!-- Regional Overseer -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/04_p_ike.png" class="md-user-avatar" />
      </div>
      <p>Pastor (Doctor) Ike Okafo, M.D. has been the Senior Pastor of the Deeper Life Bible Church in Chicago, Illinois
        since 1999. He also serves as the Regional Overseer of the Central 1 Midwest Region (Illinois, Indiana,
        Missouri, Ohio) and sets the strategic vision for the church both locally and regionally. In addition, Pastor
        Ike serves as the National Youth and Young Adult Overseer, where his passion, foresight, and understanding of
        the upcoming generations shine brightly. </p>

      <p>Pastor Ike is a medical doctor currently completing his anesthesiology residency at Indiana University where he
        obtained his medical degree. He continues his service to the local and regional body from there. Pastor Ike also
        has an MBA in Finance from the University of Chicago and a B.A. in Engineering from the University of Nigeria.
      </p>

      <p>Pastor Ike is married to his lovely wife, Cordelia, and they have two children. One book he believes every
        person should have in his or her personal library besides the Holy Bible is Alexander Whyte’s Bible Characters.
      </p>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor Niyi Adedokun</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/05_p_niyi.png" class="md-user-avatar" />
      </div>
      <p>Pastor Niyi Adedokun serves with the Deeper Life Bible Church and is based in PA. He has over 25 years’
        experience working with young adults within and outside college campuses. He is passionate about impacting the
        lives of youth and young adults and invests time mentoring and ministering to their spiritual needs and other
        areas of their lives. </p>

      <p>Pastor Niyi is one of the conveners of the “Things that Matter” study groups and conferences which focus on
        apologetics and the critical issues of Origin, Identity, Meaning, Morality, and Destiny. </p>

      <p>Pastor Niyi is a pharmacist, works in drug development research, and holds graduate degrees in pharmaceutical
        sciences and statistics. He is happily married with children. </p>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor David Malaka</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/06_p_david.png" class="md-user-avatar" />
      </div>
      <p>Dr. David Malaka is a family medicine doctor in Saint Joseph, Michigan and is affiliated with Lakeland Medical
        Center. He received his medical degree from University of Lagos College of Medicine, Nigeria. He went on to
        complete his residency at North Shore-Long Island Jewish Health System in New York. He also completed a Masters
        in Public Health from John Hopkins University School of Public Health and has co-published various publications
        on medicine and public health. He currently co-facilitates the family residency program at Lakeland Medical
        Center. </p>

      <p>Dr. David Malaka mentors young people in Southwest Michigan and all around the Midwest. He gives back through
        an organization he spearheads called Medics For Christ, which seeks to equip Christian, foreign-trained medical
        students for competent practice in the United States. </p>

      <p>He is married to his lovely wife, Ruth, and they have many beautiful children. Together, they serve locally at
        the Oak Park branch of Deeper Life Bible Church, Chicago, IL. They also spearhead the young adult ministry in
        the Midwest Region under the mentorship and oversight of Regional Overseer, Pastor Ike Okafo. In his free time,
        Dr. David Malaka enjoys spending time with his family and supporting his wife with their family-owned business,
        Revive and Thrive. </p>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor Michael Adeyemi</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/07_p_michael.png" class="md-user-avatar" />
      </div>
      <p>Pastor Michael Adeyemi is a born again Christian and a member of Deeper Life Bible Church till date. </p>

      <p>He has been married to Sister Elizabeth Adeyemi for 26 years in Deeper Life Bible Church, and they are blessed
        with 3 children. </p>

      <p>He is a Professional Accountant and a member of the Institute of Chartered Accountants of Nigeria. </p>

      <p>He is also an Associate Fellow of the Chartered Institute of Commerce of Nigeria. </p>

      <p>He is the current Financial Controller of both Mike Beth Enterprises and Crown Fit Enterprises and has held
        these positions for over a decade. Pastor Adeyemi and his wife are the pioneers and founders of Joyful and
        Blessed Family Outreaches with outreaches in America, the United Kingdom and other countries in Europe. This
        outreach continues to see life transforming and blessed testimonies. </p>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor Ayo Oluwagunna</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/08_p_ayo.png" class="md-user-avatar" />
      </div>
      <p>Pastor Ayo Oluwagunna is a professional practitioner of Advertising Graphics and Branding Specialist. He is the
        Principal Consultant, MD/CEO of ART3BUTES COMMUNICATIONS (An Integrated Branding/Advertising and Marketing
        Communications Company) in Lagos, Nigeria. </p>

      <p>He currently has a campus-based ministry and serves as an itinerary evangelist/revivalist in and outside campus
        circles and in churches across denominations. He has a strong penchant and passion for holiness and revival
        among God’s people and is a believer in, and builder of youths for the due end-time revival. </p>

      <p>He has completed a Master of Divinity (M.Div) program from the West Africa Theological Seminary, Lagos,
        Nigeria. Presently, he is completing a Doctor of Ministry (D.Min) degree from Asbury Theological Seminary,
        Wilmore, Kentucky, USA, where he is on periodic residency. </p>

      <p>He is married to his beautiful wife, Oluwakemi Ruth Oluwagunna and they are blessed with three wonderful
        children (two girls, and a boy). </p>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor John Enoh</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/09_p_john.png" class="md-user-avatar" />
      </div>
      <p>Pastor John Enoh is a Pastor with the Deeper Life Bible Church Southwestern Region, USA. Before joining the
        church in America, Pastor John was the National Overseer of the Deeper Life Bible Church in the United Arab
        Emirate, the Gulf Corporation Countries and Pakistan. </p>

      <p>Pastor John is a software engineer, Solution Architect and an Entrepreneur. He is an expert in Cloud computing,
        Container, Artificial Intelligence, Satellite and IT Business technologies. He is a freelancer Satellite’s
        Payload developer with Sky and space global, Kepler and OneWeb and Currently a Team Lead Artificial Intelligence
        Solution Architect with DXC technology for New Orleans, Louisiana, USA. He worked with the Ericsson Group in
        Africa, Middle East, Latin America, and the USA for more than 10 years before giving birth to his own software
        and smart device/IOT startup company, BeepTool, based in Lagos, Nigeria. Pastor John is also the brain behind
        the world’s first affordable AI smartphone as serviced called Oyi-1. </p>

      <p>He holds a BSc in Computer Science from Benue State University Makurdi, and a MSc in Software Systems
        Engineering from Heriot-Watt University, Edinburgh, UK. He and his lovely wife, Precious, have two boys and two
        girls. </p>

    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Sister Gertrude Onuoha</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/10_p_gertrude.png" class="md-user-avatar" />
      </div>
      <p>Gertrude Onuoha Esq. is the president and founder of the Law Offices of Gertrude Onuoha, P.C in New York State.
        She has practiced law for over twenty years. In the course of her career, she has provided legal counsel to
        businesses, churches, entrepreneurs, professionals, investors and executive clients in the areas of general
        corporate practice business law, church and employment and immigration. </p>

      <p>She is admitted to practice law in the state of New York. She obtained her law degree with honors (LL. B) from
        the University of Nigeria (a former British colony) and received her Master of Law (LL.M) degree from Benjamin
        Cardozo School of Law in New York. </p>

      <p>She is also a New York State Certified Mediator. She is a speaker and a passionate youth leader. Her goal is to
        inspire young people to serve God, engage in self-development and attain their highest potentials. </p>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Sister Christy Oppong</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/11_p_christy.png" class="md-user-avatar" />
      </div>
      <p>Christy Oppong leads the Youth and Young Adults Ministry for Deeper Life Bible Church – New Jersey, where she
        coordinates with her team of Christ-like minded and dedicated Young Adults as well as other Youth Leaders in the
        US to identify holistic needs and develop appropriate programs to nurture the spiritual well-being of young
        people in the NJ Region. </p>

      <p>Christy started her auditing career in 2001 with Ashanti Goldfields Company in Ghana, West Africa, and
        AngloGold Ashanti Ltd. in South Africa as a Senior Auditor. Christy is a member of the U.S. Institute of
        Internal Auditors and is a Certified Internal Auditor. </p>

      <p>In ministry, she is passionate about the spiritual welfare of young people and works tirelessly to challenge,
        mentor and motivate those in her orbit of influence to live to their fullest potential in Christ. </p>


    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Brother Henry Osokpo</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/12_p_henry.png" class="md-user-avatar" />
      </div>
      <p>Henry Osokpo is a consultant and presenter for the Philadelphia Corporation of Aging. He serves as a member of
        the Diversity Committee of New York State Action Coalition. He is also a board member of New Careers in Nursing
        Scholars Association. He previously lectured at the University of Pennsylvania School of Nursing and was adjunct
        clinical faculty at Widener University. </p>

      <p>He also holds a Bachelor of Science in Chemistry Education and a Master of Science in Analytical Chemistry.
        Currently, Henry is a Fortaine Scholar and doctoral student at the University of Pennsylvania School of Nursing.
      </p>

      <p>Brother Henry, as fellow believers fondly refer to him as, preaches the Word of God practically and with deep
        conviction. He fellowships and serves at the Deeper Life Bible Church HQ, PA. He also supports the campus
        ministry at Lincoln University, which has seen many young adults come to Christ, become grounded in the
        Scriptures and gain an eternal and godly perspective on academic and life pursuits. Brother Henry is happily
        married to his lovely wife, Funmi, and they are blessed with beautiful children. </p>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Brother Osai Osaigbovo</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/13_p_osai.png" class="md-user-avatar" />
      </div>
      <p>Osai Osaigbovo dedicated his life to Christ as a teenager and by God’s grace has continued in his walk since
        then. He has served in several capacities over the years leading youth and young adults in the UK and US. </p>

      <p>Osai holds an MBA from Cranfield University and an MSc from City University in the UK. He currently works for
        IBM where he has held several roles including Senior Managing Consultant, Cloud Adviser, and now provides
        guidance to clients on their Cloud and AI Strategies. With extensive experience delivering technology strategy,
        architecture leadership, and complex systems for top tier financial services, aviation, government and retail
        firms in the UK and US, Osai has an unparalleled portfolio of knowledge. </p>

      <p>Outside of work, Osai serves as a mentor for young adults both in and outside the church. He is a chess fan and
        keen golf player. You can contact him with questions by emailing osai.osaigbovo@gmail.com</p>


    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Sister Kemi Animasaun</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/Kemi Animasaun.jpg" class="md-user-avatar" />
      </div>
      <p>Kemi Animasaun is a seasoned banking professional with expertise in risk and compliance management. She works
        for a big regional bank. </p>
      <p>She holds an undergraduate diploma in Accounting from Yaba College of Technology, Nigeria. She has a Master’s
        in MIS from Metropolitan State University, Minnesota and an MBA in Finance and Management from Carlson School of
        Management at the University of Minnesota. </p>
      <p>She leads the youth and young adults ministry of Deeper Life Bible Church in Minnesota. Fondly, called Sister
        Kemi or Sis K, she has a strong passion for youths and young adults. She loves the Lord and has mentored many
        people over the years. </p>



    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Sister Ruth Malaka</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/ruth malaka.jpg" class="md-user-avatar" />
      </div>
      <p>Ruth Malaka officially joined the family of God in 1992 when she gave her life to Christ under the personal
        ministration of her parents, Pastor Thompson and Sister Selinah Aderemi, while attending Deeper Life Bible
        Church. From an early age she was deeply involved with the youth and music ministries both in her various local
        churches and eventually on campus. </p>

      <p>Professionally, Ruth Malaka is a clinical psychology therapist who received a B.A. in Comparative Human
        Development from the University of Chicago and M.A. in Clinical Psychology from Wheaton College with a
        specialization in Marriage and Family Therapy. In addition, she completed training as an alcohol and substance
        abuse counselor. Ruth is also the Founder and CEO of Revive and Thrive, a company dedicated to empowering women
        to embrace and care for their natural God-given beauty using natural, organic ingredients in their hair care
        products. </p>

      <p>She met her husband-to-be, Dr. David Malaka in 2007 in DLBC, Chicago as they served together in the music and
        youth ministries. They got married in 2010 and have been blessed with beautiful children. They have a passion
        for seeing young adults live out their single years maximally and marry into God’s perfect design of marriage to
        expand and establish the Kingdom of God and His Righteousness. </p>



    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Pastor Uchenna Okafo</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/uche okafor.jpg" class="md-user-avatar" />
      </div>
      <p>Pastor Uchenna Okafo, MD, is a neurosurgeon and the current pastor of the Maple Grove branch of the Deeper Life
        Bible Church in Minnesota. </p>
      <p>He is happily married to the lovely Dr. Mary Okafo and blessed with children. </p>
      <p>He and his family previously resided in the Republic of Ireland for over 11 years where he also pastored the
        Deeper Life Bible Church in Cork city before they relocated to the United States in 2016. </p>
      <p>Pastor (Dr) Okafo currently works as a Guest Lecturer in the Neurosurgery Department in the University of
        Minnesota. </p>
      <p>He is an evangelist and has a passion to see young people serve the Lord. </p>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Sister Mary Okafo</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- title -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="text-align:center">
        <img src="assets/images/mary okafor.jpg" class="md-user-avatar" />
      </div>
      <p>Dr. Mary Okafo grew under the care and tutelage of her Christian parents but came to know the Lord
        experientially in 1987. </p>
      <p>All through her educational career, especially since her salvation experience, she has worked in the Church
        Ministry with practical involvement in the choir, as well as in the youth training and development. </p>
      <p>In her secular career, Sister Mary is a medical doctor, specialized in behavioral medicine/psychiatry. </p>
      <p>Dr. Mary Okafo is married to Pastor Uchenna Okafo, who is also a medical doctor by profession. Their family is
        blessed with beautiful children and is currently based in Minnesota, USA. </p>


    </mat-expansion-panel>

  </mat-accordion>
</mat-card>