<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="logo-image">
        <a routerLink="/ui/home" class="logonav"><img src="assets/images/tf_logo.png" class="img-fluid"></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li *ngIf="!currentUser">
                <a routerLink="/ui/login">Login</a>
            </li>
            <li *ngIf="currentUser">
                <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
            </li>
            <li>
                <a routerLink="/ui/register">Registration</a>
            </li>
            <li *ngIf="currentUser">
                <a routerLink="/ui/admin">Admin</a>
            </li>
            <!-- <li>
                <a routerLink="/schedule">Schedule</a>
            </li> -->
            <li>
                <a routerLink="/ui/speakers">Speakers</a>
            </li>
            <li>
                <a routerLink="/ui/announcement">Announcement</a>
            </li>
            <li>
                <a routerLink="/ui/resources">Resources</a>
            </li>
        </ul>
    </div>
</mat-toolbar>