<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Transformation 2019</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/register">Registration</a>
            </li>
            <li>
                <a routerLink="/checkin">Check-in</a>
            </li>
            <li>
                <a routerLink="/schedule">Schedule</a>
            </li>
            <li>
                <a routerLink="/speakers">Speakers</a>
            </li>
            <li>
                <a routerLink="/announcement">Announcement</a>
            </li>
            <li>
                <a routerLink="/resources">Resources</a>
            </li>
        </ul>
    </div>
</mat-toolbar>