
  <h2>ADMIN</h2>
  <div>
  <!-- *ngIf="currentUser" -->
  <button *ngIf="currentUser"  class="btn btn-primary admin-card" routerLink="/ui/checkin" >Check In</button>
  <button *ngIf="currentUser" class="btn btn-primary admin-card" routerLink="/ui/user" >Create User</button>
</div>
<!-- 
<mat-card>
    <div class="reg-container mat-elevation-z8">
      <table [class.isMobile]="isMobile" mat-table [dataSource]="dataSource">
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Name:</span>
            {{element.name}}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Username:</span> 
            {{element.username}} 
          </td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element">
              <span class="mobile-label">Email:</span>
            {{element.email}} 
          </td>
        </ng-container>
  
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Roles </th>
          <td mat-cell *matCellDef="let element">
              <span class="mobile-label">Roles:</span>
            {{element.role}} </td>
        </ng-container>
   
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
  </mat-card> -->