<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to Transformation 2019</p>
  </div>

  <p>... Sanctify yourselves: for tomorrow the Lord will do wonders among you</p>

  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="THUR">
      <p>Thursday Schedules goes here</p>
    </mat-tab>
    <mat-tab label="FRI">
      <p>Friday Schedules goes here</p>
    </mat-tab>
    <mat-tab label="SAT">
      <p>Saturday Schedules goes here</p>
    </mat-tab>
    <mat-tab label="SUN">
      <p>Sunday Schedules goes here</p>
    </mat-tab>
  </mat-tab-group>
</section>